
<!--telo-->
<div class="row">
	<div class="large-4 columns">
		<div class="panel">
			<h1>some text</h1>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="panel">
			<h1>naslov or logo</h1>
		</div>
	</div>    
</div>
<div class="row">       

	<div class="large-5 columns">
		
			
		<div class="flex-video">
			<iframe width="170" height="145" src="//www.youtube-nocookie.com/embed/16kRVoSyO_w" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="panel">
			<h1>Opis:</h1></br>
			<p>sdfsdfsdfsdf</p>     					
 		</div>
 	</div>		

 	<div class="large-5 columns">

		<div class="flex-video">
			<iframe width="170" height="145" src="//www.youtube-nocookie.com/embed/16kRVoSyO_w" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="panel">
			<h1>Opis:</h1></br>
			<p>sdfsdfsdfsdf</p>     					
 		</div>
 	</div>



	

	<div class="large-2 columns">
		<div class="panel">
			<h4>reklame</h4>
			<p>asdasdasdas
			ddajashdjk <br>
			sdfsdklfsdkf
			jsdjfkljs<br>
			dfkljklsdjfkljsd
			fkklsd<br>
			dfasdasdashjg
			jhgjhgjhj
		    </p>
		</div>
	</div>	
	
</div>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <div class="panel">
      <h6>zgornji reklamni baner</h6>
    </div>    
  </div>  
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<p>ostali videji</p>

		</div>
	</div>
</div>		
<div class="row">		
	<div class="large-6 columns">
		<div class="flex-video">
			<iframe width="170" height="145" src="//www.youtube-nocookie.com/embed/16kRVoSyO_w" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="panel">
			<h1>Opis:</h1></br>
			<p>sdfsdfsdfsdf</p>     					
 		</div>
 	</div>
 		
	<div class="large-6 columns">
		<div class="flex-video">
			<iframe width="170" height="145" src="//www.youtube-nocookie.com/embed/16kRVoSyO_w" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="panel">
			<h1>Opis:</h1></br>
			<p>sdfsdfsdfsdf</p>     					
 		</div> 		
	</div>	
	<div class="large-6 columns">
		<div class="flex-video">
			<iframe width="170" height="145" src="//www.youtube-nocookie.com/embed/16kRVoSyO_w" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="panel">
			<h1>Opis:</h1></br>
			<p>sdfsdfsdfsdf</p>     					
 		</div> 		
	</div>		
	<div class="large-6 columns">
		<div class="flex-video">
			<iframe width="170" height="145" src="//www.youtube-nocookie.com/embed/16kRVoSyO_w" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="panel">
			<h1>Opis:</h1></br>
			<p>sdfsdfsdfsdf</p>     					
 		</div> 		
	</div>	
</div>	
	

